body {
	background-color: #ECF0F1;
}

#container {
	padding: 20px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: table;
}

#drag-here {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	text-align: center;
}

#drag-here h1 {
	font-size: 4em;
	font-weight: bold;
}

#drag-here span {
	font-size: 1.2em;
	color: #34495E;
}

#list {
	display: none;
}